footer {
  .footer-menu {
    background-color: $footer-bg;
    padding: 3rem 0;

    .menu-wrapper {
      h6 {
        color: #ffffff;
        text-transform: uppercase;
        margin: 0 0 1rem 0;
      }

      ul {
        margin: 0 0 1.5rem 0;
        padding: 0;
        list-style: none;
        li {
          a {
            font-size: 14px;
            line-height: 30px;
            color: rgb(169,169,169);
            @extend %elementsAnimation;

            &:hover {
              color: #ffffff;
            }
          }
        }
      }
    }

    .payment-methods {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
      }
    }
  }

  .bottom-bar {
    background-color: $footer-claim-bg;

    .container > .row {
      height: 95px;
    }

    .copyright {
      margin: 0 auto;
      p {
        margin: 0;
        color: rgb(169,169,169);
        font-size: 14px;
        line-height: 26px;
        text-align: center;
      }
    }

    .socialmedia {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: inline-block;
          margin-left: 1rem;

          a {
            color: rgb(169,169,169);
            text-decoration: none;
            @extend %elementsAnimation;

            &:hover {
              color: $primary;
            }
          }
        }
      }
    }
  }
}

<<<<<<< HEAD
@include media-breakpoint-down(sm) {

  footer {
    .footer-menu{
        text-align: center;
    }
=======
@media (max-width: 768px) {
  
  footer {
>>>>>>> Add RWD to footer
    .bottom-bar {
      position: relative;
      .unidentify-object {
        position: absolute;
        bottom: 90%;
        left: 0;
        width: 100%;
      }
<<<<<<< HEAD
      .copyright p {
          text-align: left;
      }
    }
  }

=======
      .copyright {
        margin: 0;
        p {
          margin: 0;
          color: rgb(169,169,169);
          font-size: 14px;
          line-height: 26px;
          text-align: left;
        }
      }
    }
  }
>>>>>>> Add RWD to footer
}
