header {
  .top-bar {
    background-color: $header-topbar-bg;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        line-height: 55px;

        a {
          color: #ffffff;
          font-size: 13px;
          @extend %elementsAnimation;

          &:hover {
            color: $primary;
            text-decoration: none;
          }
        }
      }
    }

    .text-left ul li {
      margin-right: 1.5rem;

      i {
        margin-left: 5px
      }
    }

    .text-right ul li {
      margin-left: 1.5rem;

      i {
        margin-right: 5px
      }
    }
  }

  .company-claim {
    background-color: $header-bg;

    .container > .row {
      height: 145px;
    }

    .phone-number {
      p {
        margin: 0;
        font-size: 17px;
        line-height: 42px;
        color: rgb(216,216,216);
        font-weight: 500;

        i {
          font-size: 32px;
          color: $primary;
          vertical-align: middle;
          margin-top: -3px;
          margin-right: 0.8rem;
        }
      }
    }

    .cart {

      .cart-box {
        display: inline-block;
        position: relative;
        color: #ffffff;

        .cart-icon {
          background-color: $primary;
          width: 55px;
          height: 50px;
          border-radius: 3px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          @extend %elementsAnimation;

          i {
            margin-right: 5px;
          }
        }

        .cart-counter {
          width: 28px;
          height: 27px;
          border-radius: 14px;
          background-color: $header-bg;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 0 10px;
          font-size: 14px;
          color: rgb(224,227,237);
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(50%, -50%);
        }

        &:hover {
          .cart-icon {
            background-color: lighten($primary, 10%);
          }
        }
      }
    }
  }

  .menu-bar {
    box-shadow: 2px 3.464px 6px rgba(1,2,2,0.2);
    background-color: #ffffff;

    .container > .row {
      height: 84px;
    }

    .menu {
      display: flex;
      align-self: stretch;

      #input-hamburger {
        opacity: 0;
        position: absolute;
        bottom: 10%;
        left: 70%;
      }

      .nav-hamburger {
        display: none;
        height: 24px;
        line-height: 50px;
        width: 40px;
        margin: 40px 10px;
        text-align: center;
        color: $text-color;
        cursor: pointer;
        position: absolute;
        bottom: 10%;
        left: 70%;

        span {
          background-color: $header-bg;
<<<<<<< HEAD
          border-radius: 1px;
=======
          border-radius: 1px 1px 1px 1px;
>>>>>>> Add RWD for search and Home menu
          height: 2px;
          width: 20px;
          display: block;
          margin: 4px auto;
        }
      }

      ul {
        margin: 0;
        padding: 0;
        display: flex;

        li {
          list-style: none;
          display: flex;
          align-items: stretch;

          a {
            color: $text-color;
            text-transform: uppercase;
            font-size: 12px;
            padding: 1rem;
            text-decoration: none;
            display: flex;
            align-items: center;
            border-top: 4px solid #ffffff;
            font-weight: 500;
            letter-spacing: 1px;
            @extend %elementsAnimation;

            &:hover,
            &.active {
              background-color: $primary;
              color: #ffffff;
              border-color: $primary;
            }

            &.active {
              border-color: $text-color;
            }
          }
        }
      }
    }

    .search-form {
      border: 1px solid $form-border-color;
      display: inline-flex;
      height: 45px;
      color: $text-color;

      .category {
        border-right: 1px solid $form-border-color;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;

        &:hover {
          background: $primary;
        }
          &:hover .subcategories {
            display: block;
            opacity: 1;
            visibility: visible;
          }

          &:hover .primary-category, &:hover i {
            color: $category-menu-bg-color;
          }

        i {
          color: $primary;
          position: absolute;
          left: 10px;
          z-index: 0;
        }

        ul {
          text-align: left;
          display: inline;
          margin: 0;
          padding: 0 30px;
          list-style: none;
          position: relative;
          z-index: 1;
          li {
            display: inline-block;
            position: relative;
            padding: 10px 20px;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -ms-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s;
            color: $category-menu-color-black;
            i {
              position: absolute;
              right: -10px;
              left: auto;
              z-index: 0;
              top: 15px;
              color: $category-menu-color-black;
            }
            ul {
              padding: 0;
              position: absolute;
              top: 44px;
              left: -31px;
              border: 1px solid $form-border-color;
              background: $category-menu-bg-color;
              -webkit-box-shadow: none;
              -moz-box-shadow: none;
              box-shadow: none;
              display: none;
              opacity: 0;
              visibility: hidden;
              -webkit-transiton: opacity 0.2s;
              -moz-transition: opacity 0.2s;
              -ms-transition: opacity 0.2s;
              -o-transition: opacity 0.2s;
              -transition: opacity 0.2s;
              li {
                min-width: 240px;

                &:hover {
                  background: $primary;

                  a {
                    color: $category-menu-bg-color;
                  }
                }
                a {
                  text-decoration: none;
                  display: block;
                  color: $category-menu-color-black;
                }
              }
            }
          }
        }
      }

      .search-field {
        display: flex;
        align-items: center;
        position: relative;

        input {
          border: 0;
          padding-left: 10px;
          font-size: 14px;
          outline: none;

          &::placeholder {
            color: $text-color;
          }
        }

        button {
          border: 0;
          background-color: transparent;
          outline: none;
        }
      }
    }
  }
}
@include media-breakpoint-down(md) {
  header {
    .top-bar {
      .text-left {
        flex-grow: 2;

        .header-left-menu {
          margin-right: 0.9rem;
        }
      }

      .text-right {
        .header-right-menu {
          margin-left: 0.9rem;
        }
      }
      .header-links {
        display: none;
      }
    }
    .company-claim {
      .phone-number {
        order: 3;
        flex-basis: 100%;
        p {
          font-size: 14px;
        }
      }
      .logo {
        order: 1;
      }
      .cart {
        order: 2;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
      }
    }
  }
}
@media (min-width: 767px) and (max-width: 1200px) {

  .menu-bar {
    height: 105px;
    .row {
      flex-direction: column-reverse;
    }
  }

  .search-form-sm {
    display: flex;
    justify-content: center;
    padding: 5px 0;
  }

  .menu {
    justify-content: center;
  }
}

@media (max-width: 767px) {

  header {
    .menu-bar {
      .menu {
        z-index: 100;
        position: relative;
        right: 8em;

        .nav-hamburger {
          display: block;
        }

<<<<<<< HEAD
        #input-hamburger:checked + ul {
          overflow: visible;
        }

=======
@media (min-width: 767px) and (max-width: 1200px) {

  .menu-bar {
    height: 105px;
    .row {
      flex-direction: column-reverse;
    }
  }

  .search-form-sm {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }

  .menu {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  header{
    .menu-bar {
      .nav-hamburger {
        display: block;
      }
      #input-hamburger:checked + ul {
        overflow: visible;
      }
      .menu {
        z-index: 100;
        position: relative;
        right: 8em;
>>>>>>> Add RWD for search and Home menu
        ul {
          flex-direction: column;
          overflow: hidden;
          max-height: 0;
          width: 50rem;
          z-index: 1000;
          li {
            background-color: $primary;
            display: inline-block;
            margin: 0 auto;
            width: 100%;
            max-width: 100%;
            min-width: 0;
            a {
              border-top: 4px solid $primary;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }
<<<<<<< HEAD
=======

>>>>>>> Add RWD for search and Home menu
}
